body{
  font-style: sans-serif,Arial;
  color: white;
}

header{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  height: 150px;
  width: 600px;
}

h1{
  font-size: 40px;
  font-style: bold;
}

.containerGame{
  border: 2px solid white;
  width: 60%;
  align-content: center;
  margin: 0 auto;
  height: 1000px;
}

#wordToGuess{
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  height: 150px;
  width: 60%;
}


#wrongGuesses{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  height: 150px;
  width: 60%;

}

#numGuesses{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  height: 150px;
  width: 60%;

}

#winCounter{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  height: 150px;
  width: 60%;

}

#lossCounter{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  height: 150px;
  width: 60%;

}


